<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.pipe.dao.IAssignDAO">
	<resultMap id="assign_DB_Result" type="assign">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="demand_code" property="demandCode" />
		<result column="dealer_code" property="dealerCode" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
		
		<association property="dealer" javaType="dealer">   
		    <result column="dealer_name" property="name" />
        </association>
        
        <association property="demand" javaType="demand">   
            <result column="demand_summary" property="summary" />
            <result column="demand_pic" property="pic" />
		    <result column="demand_start_datetime" property="startDatetime" />
		    <result column="demand_end_datetime" property="endDatetime" />
		    <result column="demand_province" property="province" />
		    <result column="demand_city" property="city" />
		    <result column="demand_area" property="area" />
		    <result column="demand_address" property="address" />
		    <result column="demand_price" property="price" />
        </association>
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_assign" parameterType="assign" resultMap="assign_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.demand_code
		,t.dealer_code
		,t.create_datetime
		,t.status
		,tdealer.name dealer_name
		,tdemand.summary demand_summary
		,tdemand.pic demand_pic
		,tdemand.start_datetime demand_start_datetime
		,tdemand.end_datetime demand_end_datetime
		,tdemand.province demand_province
		,tdemand.city demand_city
		,tdemand.area demand_area
		,tdemand.address demand_address
		,tdemand.price demand_price
		FROM
		tp_assign t LEFT JOIN tp_demand tdemand ON t.demand_code = tdemand.code 
		            LEFT JOIN tp_dealer tdealer ON tdemand.dealer_code = tdealer.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_assign_count" parameterType="assign"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_assign t
		<include refid="where_condition" />
	</select>

	<insert id="insert_assign" parameterType="assign">
		INSERT INTO
		tp_assign(
		user_id
		,demand_code
		,dealer_code
		,create_datetime
		,status
		)
		VALUES(
		#{userId}
		,#{demandCode}
		,#{dealerCode}
		,#{createDatetime}
		,#{status}
		)
	</insert>

	<update id="update_assign" parameterType="assign">
		UPDATE tp_assign
		SET
		user_id = #{userId}
		,demand_code = #{demandCode}
		,dealer_code = #{dealerCode}
		,create_datetime = #{createDatetime}
		,status = #{status}
		WHERE id = #{id}
	</update>
	
	<update id="update_assignReceive" parameterType="assign">
		UPDATE tp_assign
		SET
		status = #{status}
		WHERE id = #{id}
	</update>
	
	<update id="update_assignReject" parameterType="assign">
		UPDATE tp_assign
		SET
		status = #{status}
		WHERE id = #{id}
	</update>


</mapper>