<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.pipe.dao.IDemandOrderDAO">
	<resultMap id="demandOrder_DB_Result" type="demandOrder">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="demand_code" property="demandCode" />
		<result column="dealer_code" property="dealerCode" />
		<result column="receive_datetime" property="receiveDatetime" />
		<result column="receiver" property="receiver" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="give_integral" property="giveIntegral" />
		
		<association property="dealer" javaType="dealer">   
            <result column="dealer_pic" property="pic" />
		    <result column="dealer_name" property="name" />
        </association>
        
        <association property="demand" javaType="demand">   
            <result column="demand_summary" property="summary" />
            <result column="demand_pic" property="pic" />
            <result column="demand_detail" property="detail" />
		    <result column="demand_start_datetime" property="startDatetime" />
		    <result column="demand_end_datetime" property="endDatetime" />
		    <result column="demand_province" property="province" />
		    <result column="demand_city" property="city" />
		    <result column="demand_area" property="area" />
		    <result column="demand_address" property="address" />
		    <result column="demand_price" property="price" />
        </association>
		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="demandCode != null and demandCode != '' ">
				AND t.demand_code = #{demandCode}
			</if>
			<if test="dealerCode != null and dealerCode != '' ">
				AND t.dealer_code = #{dealerCode}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="receiveDatetime != null and receiveDatetime != '' ">
				AND date_format(t.receive_datetime, '%Y%m%d') = date_format(#{receiveDatetime}, '%Y%m%d');
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in
				<foreach item="item" index="index" collection="statusList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</trim>
	</sql>
	<select id="select_demandOrder" parameterType="demandOrder" resultMap="demandOrder_DB_Result">
		SELECT
		t.code
		,t.type
		,t.demand_code
		,t.dealer_code
		,t.receive_datetime
		,t.receiver
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.give_integral
		,tdealer.pic dealer_pic
		,tdealer.name dealer_name
		,tdemand.summary demand_summary
		,tdemand.pic demand_pic
		,tdemand.detail demand_detail
		,tdemand.start_datetime demand_start_datetime
		,tdemand.end_datetime demand_end_datetime
		,tdemand.province demand_province
		,tdemand.city demand_city
		,tdemand.area demand_area
		,tdemand.address demand_address
		,tdemand.price demand_price
		FROM
		tp_demand_order t LEFT JOIN tp_demand tdemand ON t.demand_code = tdemand.code 
		                  LEFT JOIN tp_dealer tdealer ON tdemand.dealer_code = tdealer.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_demandOrder_count" parameterType="demandOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_demand_order t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_demandOrder" parameterType="demandOrder">
		INSERT INTO
		tp_demand_order(
		code
		,type
		,demand_code
		,dealer_code
		,receive_datetime
		,receiver
		,status
		,updater
		,update_datetime
		,remark
		,give_integral
		)
		VALUES(
		#{code}
		,#{type}
		,#{demandCode}
		,#{dealerCode}
		,#{receiveDatetime}
		,#{receiver}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{giveIntegral}
		)
	</insert>

	<update id="update_demandOrder" parameterType="demandOrder">
		UPDATE tp_demand_order
		SET
		type = #{type}
		,demand_code = #{demandCode}
		,dealer_code = #{dealerCode}
		,receive_datetime = #{receiveDatetime}
		,receiver = #{receiver}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,give_integral = #{giveIntegral}
		WHERE code = #{code}
	</update>
	
	<update id="update_complete" parameterType="demandOrder">
		UPDATE tp_demand_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,give_integral = #{giveIntegral}
		WHERE code = #{code}
	</update>
	
	<update id="update_userCancel" parameterType="demandOrder">
		UPDATE tp_demand_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_dealerCancel" parameterType="demandOrder">
		UPDATE tp_demand_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

</mapper>