<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.pipe.dao.IHearDAO">
	<resultMap id="hear_DB_Result" type="hear">
		<result column="user_id" property="userId" />
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
		<result column="content" property="content" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
		<if test="distance != null and distance != '' ">
				<![CDATA[ having distance <= #{distance}]]>
		</if>
	</sql>
	<select id="select_hear" parameterType="hear" resultMap="hear_DB_Result">
		SELECT
		t.user_id
		,t.latitude
		,t.longitude
		,t.content
		,t.status
		,ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-t.latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(t.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-t.longitude*PI()/180)/2),2)))*1000) as distance
		FROM
		tp_hear t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hear_count" parameterType="hear"
		resultType="java.lang.Long">
		SELECT count(1) FROM 
		(SELECT ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-t.latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(t.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-t.longitude*PI()/180)/2),2)))*1000) as distance 
		 FROM tp_hear t
		<include refid="where_condition" />) as hearTable
	</select>

	<insert id="insert_hear" parameterType="hear">
		INSERT INTO
		tp_hear(
		user_id
		,latitude
		,longitude
		,content
		,status
		)
		VALUES(
		#{userId}
		,#{content}
		,#{latitude}
		,#{longitude}
		,#{status}
		)
	</insert>

	<update id="update_startHear" parameterType="hear">
		UPDATE tp_hear
		SET
		latitude = #{latitude}
		,longitude = #{longitude}
		,content = #{content}
		,status = #{status}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_stopHear" parameterType="hear">
		UPDATE tp_hear
		SET
		status = #{status}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_assign" parameterType="hear">
		UPDATE tp_hear
		SET
		status = #{status}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_assignReceive" parameterType="hear">
		UPDATE tp_hear
		SET
		status = #{status}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_assignReject" parameterType="hear">
		UPDATE tp_hear
		SET
		status = #{status}
		WHERE user_id = #{userId}
	</update>


</mapper>