<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 分页BO层注入paginableDao -->
	

	<bean id="sysDictBO" class="com.cdkj.pipe.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl" />
	</bean>

	<bean id="sysConfigBO" class="com.cdkj.pipe.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl" />
	</bean>
	
	<bean id="dealerBO" class="com.cdkj.pipe.bo.impl.DealerBOImpl">
		<property name="paginableDAO" ref="dealerDAOImpl" />
	</bean>
	
	<bean id="demandBO" class="com.cdkj.pipe.bo.impl.DemandBOImpl">
		<property name="paginableDAO" ref="demandDAOImpl" />
	</bean>
	
	<bean id="hearBO" class="com.cdkj.pipe.bo.impl.HearBOImpl">
		<property name="paginableDAO" ref="hearDAOImpl" />
	</bean>
	
	<bean id="assignBO" class="com.cdkj.pipe.bo.impl.AssignBOImpl">
		<property name="paginableDAO" ref="assignDAOImpl" />
	</bean>
	
	<bean id="demandOrderBO" class="com.cdkj.pipe.bo.impl.DemandOrderBOImpl">
		<property name="paginableDAO" ref="demandOrderDAOImpl" />
	</bean>
	
	<bean id="newsBO" class="com.cdkj.pipe.bo.impl.NewsBOImpl">
		<property name="paginableDAO" ref="newsDAOImpl" />
	</bean>
</beans>
